<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<!-- 配置监听器 -->
	<listener>
		<listener-class>team.hmhlyh.web.listener.MyServletContextListener</listener-class>
	</listener>

	<!-- 配置过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>team.hmhlyh.web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<!-- 设置session的有效时间为180分钟 -->
		<session-timeout>180</session-timeout>
		<!-- 设置禁止应用程序用js操作cookie，保障cookie的信息安全，以此保障session安全 -->
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>

	<!-- 解决tomcat9.x中静态资源乱码问题 -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>

		<init-param>
			<param-name>fileEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	<!-- The mapping for the default servlet -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 登录 -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 设置开学时间 -->
	<servlet>
		<servlet-name>setTermStartDateServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.SetTermStartDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>setTermStartDateServlet</servlet-name>
		<url-pattern>/setTermStartDateAction.do</url-pattern>
	</servlet-mapping>
	<!-- 获取开学时间 -->
	<servlet>
		<servlet-name>loadTermStartDateServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadTermStartDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadTermStartDateServlet</servlet-name>
		<url-pattern>/loadTermStartDateAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 添加公告 -->
	<servlet>
		<servlet-name>addAnnouncementServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.AddAnnouncementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addAnnouncementServlet</servlet-name>
		<url-pattern>/addAnnouncementAction.do</url-pattern>
	</servlet-mapping>
	
	<!-- 删除公告 -->
	<servlet>
		<servlet-name>deleteAnnouncementServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.DeleteAnnouncementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAnnouncementServlet</servlet-name>
		<url-pattern>/deleteAnnouncementAction.do</url-pattern>
	</servlet-mapping>
	
	<!-- 获取公告 -->
	<servlet>
		<servlet-name>loadAnnouncementsServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadAnnouncementsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadAnnouncementsServlet</servlet-name>
		<url-pattern>/loadAnnouncementsAction.do</url-pattern>
	</servlet-mapping>
	
	<!-- 获取公告详情 -->
	<servlet>
		<servlet-name>loadAnnounDetailServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadAnnounDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadAnnounDetailServlet</servlet-name>
		<url-pattern>/loadAnnounDetailAction.do</url-pattern>
	</servlet-mapping>
	
	<!-- 附件下载 -->
	<servlet>
		<servlet-name>attachmentDownloadServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.AttachmentDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attachmentDownloadServlet</servlet-name>
		<url-pattern>/attachmentDownloadAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “角色管理” -->
	<servlet>
		<servlet-name>loadAllRolesServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadAllRolesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadAllRolesServlet</servlet-name>
		<url-pattern>/loadAllRolesAction.do</url-pattern>
	</servlet-mapping>
    <!-- “添加角色” -->
	<servlet>
		<servlet-name>addRoleServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.AddRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addRoleServlet</servlet-name>
		<url-pattern>/addRoleAction.do</url-pattern>
	</servlet-mapping>
	<!-- 批量添加角色 -->
	<servlet>
		<servlet-name>addRolesServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.AddRolesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addRolesServlet</servlet-name>
		<url-pattern>/addRolesAction.do</url-pattern>
	</servlet-mapping>
	<!-- “重置”密码 -->
	<servlet>
		<servlet-name>resetPasswordServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resetPasswordServlet</servlet-name>
		<url-pattern>/resetPasswordAction.do</url-pattern>
	</servlet-mapping>
	<!-- “删除”角色 -->
	<servlet>
		<servlet-name>deleteRoleServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.DeleteRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteRoleServlet</servlet-name>
		<url-pattern>/deleteRoleAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “课程管理” -->
	<servlet>
		<servlet-name>loadAllCoursesServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadAllCoursesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadAllCoursesServlet</servlet-name>
		<url-pattern>/loadAllCoursesAction.do</url-pattern>
	</servlet-mapping>
	<!-- “添加课程” -->
	<servlet>
		<servlet-name>addCourseServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.AddCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCourseServlet</servlet-name>
		<url-pattern>/addCourseAction.do</url-pattern>
	</servlet-mapping>
	<!-- “修改”课程 -->
	<servlet>
		<servlet-name>modifyCourseServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.ModifyCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyCourseServlet</servlet-name>
		<url-pattern>/modifyCourseAction.do</url-pattern>
	</servlet-mapping>
	<!-- “删除”课程 -->
	<servlet>
		<servlet-name>deleteCourseServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.DeleteCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCourseServlet</servlet-name>
		<url-pattern>/deleteCourseAction.do</url-pattern>
	</servlet-mapping>
	<!-- “已选人数”详情 -->
	<servlet>
		<servlet-name>loadSelectedStuServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadSelectedStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadSelectedStuServlet</servlet-name>
		<url-pattern>/loadSelectedStuAction.do</url-pattern>
	</servlet-mapping>
	<!-- “删除”已选学生 -->
	<servlet>
		<servlet-name>deleteSelectedStuServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.DeleteSelectedStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteSelectedStuServlet</servlet-name>
		<url-pattern>/deleteSelectedStuAction.do</url-pattern>
	</servlet-mapping>


	<!-- “开始选课” -->
	<servlet>
		<servlet-name>startCourseServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.StartCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startCourseServlet</servlet-name>
		<url-pattern>/startCourseAction.do</url-pattern>
	</servlet-mapping>
	<!-- “选修” -->
	<servlet>
		<servlet-name>selectCourseServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.SelectCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectCourseServlet</servlet-name>
		<url-pattern>/selectCourseAction.do</url-pattern>
	</servlet-mapping>
		
		
	<!-- “查看课表” -->
	<servlet>
		<servlet-name>loadClassScheduleServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadClassScheduleServlet</servlet-name>
		<url-pattern>/loadClassScheduleAction.do</url-pattern>
	</servlet-mapping>
	
	<!-- “随堂打分” -->
	<servlet>
		<servlet-name>loadUseForEveryMarkServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadUseForEveryMarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadUseForEveryMarkServlet</servlet-name>
		<url-pattern>/loadUseForEveryMarkAction.do</url-pattern>
	</servlet-mapping>
	<!-- “打分” -->
	<servlet>
		<servlet-name>markEveryServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.MarkEveryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>markEveryServlet</servlet-name>
		<url-pattern>/markEveryAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “查看成绩” -->
	<servlet>
		<servlet-name>loadScoreTableServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadScoreTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadScoreTableServlet</servlet-name>
		<url-pattern>/loadScoreTableAction.do</url-pattern>
	</servlet-mapping>
	<!-- “查看明细” -->
	<servlet>
		<servlet-name>loadScoreDetailServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadScoreDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadScoreDetailServlet</servlet-name>
		<url-pattern>/loadScoreDetailAction.do</url-pattern>
	</servlet-mapping>
	<!-- 分组查看成绩 -->
	<servlet>
		<servlet-name>loadGroupScoreTableServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadGroupScoreTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadGroupScoreTableServlet</servlet-name>
		<url-pattern>/loadGroupScoreTableAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “成绩管理” -->
	<servlet>
		<servlet-name>loadUseForTotalMarkServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadUseForTotalMarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadUseForTotalMarkServlet</servlet-name>
		<url-pattern>/loadUseForTotalMarkAction.do</url-pattern>
	</servlet-mapping>
	<!-- “打分” -->
	<servlet>
		<servlet-name>markTotalServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.MarkTotalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>markTotalServlet</servlet-name>
		<url-pattern>/markTotalAction.do</url-pattern>
	</servlet-mapping>
	<!-- 分组查询 -->
	<servlet>
		<servlet-name>loadGroupUseForTotalServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadGroupUseForTotalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadGroupUseForTotalServlet</servlet-name>
		<url-pattern>/loadGroupUseForTotalAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “个人信息” -->
	<servlet>
		<servlet-name>loadPsInfoServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LoadPsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadPsInfoServlet</servlet-name>
		<url-pattern>/loadPsInfoAction.do</url-pattern>
	</servlet-mapping>
	<!-- “修改”个人信息 -->
	<servlet>
		<servlet-name>modifyPsInfoServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.ModifyPsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyPsInfoServlet</servlet-name>
		<url-pattern>/modifyPsInfoAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “修改”密码 -->
	<servlet>
		<servlet-name>modifyPwdServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.ModifyPwdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyPwdServlet</servlet-name>
		<url-pattern>/modifyPwdAction.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- “登出” -->
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>team.hmhlyh.web.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutAction.do</url-pattern>
	</servlet-mapping>

	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
