<style>
	tbody tr td{
		vertical-align: middle !important; 
		font-size: 14px;
	}
	tr th{
		font-size: 16px;
	}
	.form-group-width{
		width: 300px;
		margin-left: 41%;	
	}
	.label-left{
		margin-left: 41%;	
	}
	.form-group{
		margin-top: 30px;
	}
	.tip{
		display: inline-block;
		margin-top: 6px;
		margin-left: 41%;
		color: #f00;
	}
	.tips{
		display: block;
		margin-top: 6px;
		margin-left: 41%;
		color: #f00;
	}
</style>
<div class="wrapper" style="background-color: #fff;">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>修改密码 <span class="glyphicon glyphicon-wrench" style="cursor: pointer;" ng-click="toggle()"></span></h3>
					<div>
						<span>{{personInfo.name}}</span>&nbsp;&nbsp;
						<span>物理与电子信息学院</span>&nbsp;&nbsp;
						<span>{{personInfo.major}}</span>
					</div>
				</div>
				<!--密码编辑区域-->
				<div class="ibox-content"  ng-show="toggleSign">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" name="modifyForm" style="margin-top: 150px;" novalidate="novalidate">
								<div class="form-group">
									<label class="label-left">学号</label>
									<input type="text" class="form-control form-group-width" ng-model="modifyData.studentID" readonly/>
								</div>
								<div class="form-group">
									<label class="label-left">原密码</label>
									<input autocomplete="off" type="password"  class="form-control form-group-width" name="password" ng-model="modifyData.oldPassword" />
									<div ng-show="passwordError">
										<span class="tip">密码错误</span>
									</div>
								</div>
								<div class="form-group">
									<label class="label-left">新密码</label>
									<input autocomplete="off" type="password"  class="form-control form-group-width" name="newPassword" ng-model="modifyData.newPassword" required/>
									<div ng-show="submitted && modifyForm.newPassword.$invalid">
										<span class="tip" ng-show="modifyForm.newPassword.$error.required">新密码不能为空</span>
									</div>
									<div ng-show="passwordStyleError">
										<span class="tip">密码由6位以上的数字或者英文字母组成</span>
									</div>
								</div>
								<div class="form-group">
									<label class="label-left">确认新密码</label>
									<input autocomplete="off" type="password"  class="form-control form-group-width" name="newPasswordConfirm" ng-model="modifyData.newPasswordConfirm" required/>
									<div ng-show="submitted && modifyForm.newPasswordConfirm.$invalid">
										<span class="tip" ng-show="modifyForm.newPasswordConfirm.$error.required">不能为空</span>
									</div>
									<div ng-show="confirmSign">
										<span class="tips" >确认新密码出错</span>
									</div>
									
								</div>
							</form>
						</div>
						<div class="row">
							<div class="col-lg-12" style="text-align: center; margin-top: 50px;">
								<button class="btn btn-success btn-outline" style="margin-right: 20px;" ng-click="modifyPassword()">修改</button>
								<button class="btn btn-danger btn-outline" ng-click="reset()">重置</button>
							</div>
						</div>
					</div>
				</div>
				<!--/密码编辑区域-->
			</div>
		</div>
	</div>
</div>
